*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.kbmousebutton {
	background-color: #003366;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

  .loginbutton {
	background-color: #212F3C;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	border-radius: 2px;
  }

.kbmousebutton:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .nameEntryClass {
    width: 500px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 24px;
    color: #255;
    outline: none; 
}

.nameEntryClass:focus{
border-color: #007bff;
  box-shadow: 0 0 5px #007bff; 
}